<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontaktinformasjon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Kontaktinformasjon</h1>
    </header>

            <button type="submit">Send inn</button>
        </form>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
