<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header>
        <h1>Restaurant System</h1>
    </header>
    <main>
        <div id="menu">
            <h2>Hovedmeny</h2>
            <a href="reservation"><button>Reserver bord</button></a>
            <a href="menu"><button>Vis restaurantmeny</button></a>
            <a href="takeaway"><button>Bestill takeaway</button></a>
            <a href="reservations_list"><button>Vis alle reservasjoner</button></a>
            <a href="takeaway_list"><button>Vis alle takeaway-bestillinger</button></a>
        </div>
    </main>
</body>
</html>
