<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alle Reservasjoner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Alle Reservasjoner</h1>
    </header>
    <main>
        <ul id="reservations"></ul> <!-- Liste for reservasjoner -->
        <button onclick="displayReservations()">Vis Reservasjoner</button>
        <a href="{{ url_for('index') }}"><button>Tilbake til hovedmeny</button></a>
    </main>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
