body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 3%; /* Legger til mer plass under Hovedmeny */
}

#menu {
    text-align: center; /* Sentraliserer menyknappene */
}

button {
    margin: 10px; /* Plass mellom knappene */
    padding: 15px 30px; /* Større klikkbar overflate */
    font-size: 18px;
    border-radius: 54px; /* Runde kanter */
}

button:hover {
    background-color: #0056b3; /* Mørkere blå når musen holder over */
}

ul {
    list-style-type: none;
}

ul li {
    margin: 5px 0;
}
